includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        # API resources / auth scaffolding
        - '#Property .* is never read#'

    excludePaths:
        - tests/*
